img {
    border-radius: 15px !important;
    width: 90%;
    margin: auto;
}

ion-card {
    width: 95%;
    margin: auto !important;
    position: relative;
    bottom: 2em;
    min-height: 35vh;
}

ion-card.container-card {
    position: relative;
    background-color:#fbfbfb;

    ion-card-content.container-content {
        height: 95%;
    }

    h3 {
        font-size: 18px;
        text-align: center;
        margin-top: 1.5vh;
    }

    hr {
        background-color: #E02E2E;
        width: 8%;
        display: block;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    h4 {
        text-align: center;
        width: 85%;
        display: block;
        margin: auto;
        line-height: 1.8;
    }
}

ion-toolbar {
    --background: transparent;
}

ion-button {
    --box-shadow: none !important;
    position: absolute;
    z-index: 9999;
}

  .scroll-content {
    padding-top: 0px !important;
  }

ion-header {
    position: absolute !important;
}

ion-button {
    --background: transparent !important;
}