<ion-content>
  <ion-card class="top fixed animated fadeIn faster">
    <ion-row>
      <ion-col>
        <ion-button class="menu-btn" (click)="dismissPage()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-credit-card></app-credit-card>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-list>
          <ion-item mode="md">
            <ion-label class="required-field" position="floating">Card Number</ion-label>
            <ion-input (ionInput)="mask($event)" [(ngModel)]="cardData.card" type="numeric" inputmode="numeric" maxlength="19" autocapitalize="on" class="form-control"></ion-input>
          </ion-item>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="cardData?.card?.length != 19 && formSubmitted">Card Number required</span>
        </ion-list>
      </ion-col>
    </ion-row>-->

    <div class="stripe-elements-container">
      <ion-row>
        <ion-col>
          <div class="stripe-el">
            <div #numberElement class="input" id="numberElement"></div>
            <label for="numberElement" class="required-field">Credit Card</label>
          </div>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="cardErrors?.error && formSubmitted">{{ cardErrors?.error?.message }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="stripe-el">
            <div #expElement class="input" id="expElement"></div>
            <label for="expElement" class="required-field">Expiration</label>
          </div>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="expErrors?.error && formSubmitted">{{ cardErrors?.error?.message }}</span>
        </ion-col>
        <ion-col>
          <div class="stripe-el">
            <div #cvvElement class="input" id="cvvElement"></div>
            <label for="cvvElement" class="required-field">CVV</label>
          </div>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="cvvErrors?.error && formSubmitted">{{ cardErrors?.error?.message }}</span>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item mode="md">
            <ion-label class="required-field" position="floating">Zip Code</ion-label>
            <ion-input type="email" [(ngModel)]="giveData.zip" type="text" inputmode="number" maxlength="5" autocapitalize="off" class="form-control"></ion-input>
          </ion-item>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="giveData?.zip === '' && formSubmitted">Zip code required</span>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item mode="md">
            <ion-label class="required-field" position="floating">First Name</ion-label>
            <ion-input [(ngModel)]="giveData.firstName" type="text" inputmode="text" maxlength="255" autocapitalize="on" class="form-control"></ion-input>
          </ion-item>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="giveData?.firstName === '' && formSubmitted">First Name required</span>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list>
          <ion-item mode="md">
            <ion-label class="required-field" position="floating">Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="giveData.lastName" inputmode="text" maxlength="255" autocapitalize="on" class="form-control"></ion-input>
          </ion-item>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="giveData?.lastName === '' && formSubmitted">Last Name required</span>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item mode="md">
            <ion-label class="required-field" position="floating">E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="giveData.email" inputmode="email" maxlength="255" autocapitalize="off" class="form-control"></ion-input>
          </ion-item>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="!validateEmail() && formSubmitted">E-mail required</span>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item mode="md">
            <ion-label class="required-field" position="floating">Phone</ion-label>
            <ion-input type="text" [(ngModel)]="giveData.phone" inputmode="numeric" maxlength="255" autocapitalize="on" class="form-control" appPhoneMask></ion-input>
          </ion-item>
          <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="!validatePhone() && formSubmitted">Phone required</span>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button style="margin-top: 1em !important;" (click)="saveChanges()" color="danger">
        Save Changes
      </ion-button>
    </ion-row>

    <ion-row class="submit-btn ion-justify-content-center">
      <ion-button (click)="deleteCard()" color="danger">
        Delete
      </ion-button>
    </ion-row>

  </ion-card>
</ion-content>