ion-button.menu-btn {
    --box-shadow: none !important;
    --background: transparent !important;
    --background-activated: transparent !important;
    z-index: 9999;
    position: relative;
    left: -15px;

    ion-icon {
        color: black !important;
    }
}

ion-card {
    margin: 1em !important;
}

ion-card ion-row {
    padding: 5px 12px !important;
}

ion-label {
    font-size: 12px !important;
}

span.error {
    padding: 2px;
    color: red !important;
}

ion-row.submit-btn {
    margin-top: 1em !important;
    margin-bottom: 2em !important;
}

div.stripe-elements-container ion-row {
    margin-top: 2em;
}

.stripe-el label {
    padding-left: 1.2em;
    transform-origin: 20% 0;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    top: -5px;
    color: black !important;
    font-size: 12px !important;
}

.input {
    width: 100%;
    padding-bottom: 7px;
    color: black;
    background-color: transparent;
  }

ion-label {
    color: black !important;
}

.input.StripeElement {
    border-bottom: 1px solid #DEDEDE !important;
    padding-bottom: 10px;
    padding-left: 1.2em;
}

.input.focused + label,
.input:not(.empty) + label {
  transform: scale(0.75) translateY(-10px) !important;
  cursor: default !important;
}

.input.StripeElement.invalid {
    border-bottom: 1px solid #DEDEDE !important;
}

.example.example2 .error .message {
    color: #e25950;
  }
  
  .example.example2 .success .icon .border {
    stroke: #abe9d2;
  }