<div class="social-container">
  <ng-container>
    <ion-row *ngFor="let item of data['data']; let i = index;">
      <ion-card class="container-card animated fadeInUp faster" *ngIf="(getMedia(item) && getMedia(item).type === 'photo') || (getMedia(item) && getMedia(item).type === 'video')" [ngStyle]="{'animation-delay': (i * (110 + (i / 100))) + 'ms'}">
        <ion-card-content class="container-content">
          <ng-container *ngIf="getMedia(item) && getMedia(item).type === 'photo' || !getMedia(item).media_source">
          <img [src]="getMedia(item).image.src" />
        </ng-container>
        <ng-container *ngIf="getMedia(item) && getMedia(item).type === 'video' && getMedia(item).media_source">
          <!-- <video #player controls [poster]="getMedia(item).image.src">
            <source [src]="getMedia(item).media_source" type="video/mp4">
          </video> -->
          <app-video [poster]="getMedia(item).image.src" [video]="getMedia(item).media_source" (fullScreen$)="fullScreenInitiated($event)"></app-video>
        </ng-container>
        </ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{ convertToLocalDate(item.created_time) }}</ion-card-subtitle>
          <ion-card-title *ngIf="item.message">{{ item.message }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ng-container>
</div>