<div *ngIf="details" class="col-md-12" class="animated fadeIn faster">
  <ion-row>
    <img [defaultImage]="placeHolderImg" [lazyLoad]="getImage(details.image.url)"/>
  </ion-row>
  <ion-row>
    <ion-card class="container-card">
      <ion-card-content class="container-content">
        <ng-container>
          <ion-row>
            <div class="upcoming-container">
              <h3>What</h3>
              <span class="half-border"></span>
            </div>
          </ion-row>
          <ion-row>
            <h4><strong>{{ details.title }}</strong></h4>
            <h4>{{details.description}}</h4>
          </ion-row>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ion-row>
  
  <ion-row>
    <ion-card class="container-card">
      <ion-card-content class="container-content">
        <ng-container>
          <ion-row>
            <div class="upcoming-container">
              <h3>When</h3>
              <span class="half-border"></span>
            </div>
          </ion-row>
          <ion-row>
            <h4 *ngIf="convertToLocalDate(details.start)">{{ convertToLocalDate(details.start) }}<br> {{ convertToLocalTimeFromDate(details.start) }}</h4>
          </ion-row>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ion-row>
</div>