<div *ngIf="details" class="col-md-12" class="animated fadeIn faster">
  <ion-row>
    <img [defaultImage]="placeHolderImg" [lazyLoad]="getImage(details.image.url)"/>
  </ion-row>
  <ion-row>
    <ion-card class="container-card">
      <ion-card-content class="container-content">
        <ng-container>
          <ion-row>
            <div class="upcoming-container">
              <h3>Title</h3>
              <span class="half-border"></span>
            </div>
          </ion-row>
          <ion-row>
            <h3 class="description">{{ details.title }}</h3>
          </ion-row>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ion-row>
  
  <ion-row>
    <ion-card class="container-card">
      <ion-card-content class="container-content">
        <ng-container>
          <ion-row>
            <div class="upcoming-container">
              <h3>When</h3>
              <span class="half-border"></span>
            </div>
          </ion-row>
          <ion-row>
            <h4 *ngIf="convertToLocalDate(details.start)">{{ convertToLocalDate(details.start) }}<br> {{ convertToLocalTime(details.start) }}</h4>
          </ion-row>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ion-row>
  
  <ion-row>
    <ion-card class="container-card">
      <ion-card-content class="container-content">
        <ng-container>
          <ion-row>
            <div class="upcoming-container">
              <h3>Description</h3>
              <span class="half-border"></span>
            </div>
          </ion-row>
          <ion-row>
            <h3 class="description">{{details.description}}</h3>
          </ion-row>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ion-row>
  
  

  <!-- <ng-container>
    <ion-row>
      <ng-container>
        <ion-card class="container-card">
          <ion-card-content class="container-content">
            <ng-container>
             
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  </ng-container> -->
</div>