<ion-header>
  <app-navigation></app-navigation>
</ion-header>

<ion-content>
  <div class="heading fixed">
    <app-icon-bar [icon]="'calendar-outline'" [title]="'Calendar'"></app-icon-bar>
  </div>
  <ion-card class="top fixed animated fadeIn faster">
    <ion-card-content>
      <ion-row class="calendar-container" style="width: 100%">
        <ion-button class="ion-activatable ripple-parent left-button controls" (click)="onPrev()">
          <ion-icon name="chevron-back-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
        <ion-button class="ion-activatable ripple-parent right-button controls" (click)="onNext()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
        <ion-calendar #cal [(ngModel)]="date"
                (change)="onSelect($event)"
                (monthChange)="onChangeMonth($event)"
                [format]="'YYYY-MM-DD'">
        </ion-calendar>
      </ion-row>
      
    </ion-card-content>
  </ion-card>
  <ion-row class="empty-row animated fadeIn faster" *ngIf="tempCalItems && tempCalItems.length === 0">
    <img [src]="getEmptyImage()" />
  </ion-row>
  <ion-row style="width:100%">
    <app-list-card-item [type]="'events'" [items]="tempCalItems" [detailPage]="'event-details'" (detailNavigate)="navigationToDetail($event)"></app-list-card-item>
  </ion-row>
</ion-content>
