<div *ngIf="details" class="col-md-12" style="margin-top: 5vh" class="animated fadeIn faster">
  <ion-row>
    <img [defaultImage]="placeHolderImg" [lazyLoad]="getImage(details.image.url)" />
  </ion-row>
  <ion-row>
    <ion-card class="container-card">
      <ion-card-content class="container-content">
        <h3>{{ details.title }}</h3>
        <ng-container *ngIf="type === 'announcement'"><h4>{{ details.month }} {{ details.year }}</h4></ng-container>
        <ng-container *ngIf="type === 'event'">
          <h4 *ngIf="convertToLocalDate()">{{ convertToLocalDate() }}</h4>
          <h4 *ngIf="convertToLocalTime()">{{convertToLocalTime()}}</h4>
        </ng-container>
        <hr>

        <h4>{{ details.description }}</h4>
      </ion-card-content>
    </ion-card>
  </ion-row>
</div>