<div *ngIf="details" class="col-md-12" class="animated fadeIn faster">
  <ion-row>
    <img [defaultImage]="placeHolderImg" [lazyLoad]="getImage(details.image.url)" />
  </ion-row>

  <ion-row *ngIf="type === 'announcement'">
    <ion-card class="container-card">
      <ion-card-content class="container-content">
        <h3>{{ details.title }}</h3>
        <ng-container *ngIf="type === 'announcement'"><h4>{{ details.month }} {{ details.year }}</h4></ng-container>
        <hr>

        <h4>{{ details.description }}</h4>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ng-container *ngIf="childDetails && childDetails.length === 0">
    <ion-row *ngIf="type === 'event'">
      <ng-container>
        <ion-card class="container-card">
          <ion-card-content class="container-content">
            <h3>{{ details.title }}</h3>
            <ng-container *ngIf="type === 'event'">
              <h4 *ngIf="convertToLocalDate(details)">{{ convertToLocalDate(details) }}</h4>
              <h4 *ngIf="convertToLocalTime(details)">{{convertToLocalTime(details)}}</h4>
            </ng-container>
            <hr>
    
            <h4>{{ details.description }}</h4>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="childDetails && childDetails.length !== 0">
    <ion-row *ngIf="type === 'event'">
      <div class="upcoming-container">
        <h3>Upcoming</h3>
        <span class="half-border"></span>
      </div>
    </ion-row>
  
    <ion-row *ngIf="type === 'event' && childDetails && childDetails.length > 0">
      <ng-container *ngFor="let item of getUpcomingEvents()">
        <ion-card class="container-card">
          <ion-card-content class="container-content">
            <h3>{{ item.title }}</h3>
            <ng-container *ngIf="type === 'event'">
              <h4 *ngIf="convertToLocalDate(item)">{{ convertToLocalDate(item) }}</h4>
              <h4 *ngIf="convertToLocalTime(item)">{{convertToLocalTime(item)}}</h4>
            </ng-container>
            <hr>
    
            <h4>{{ item.description }}</h4>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  
    <ion-row *ngIf="type === 'event'">
      <div class="upcoming-container">
        <h3>Recent</h3>
        <span class="half-border"></span>
      </div>
    </ion-row>
  
    <ion-row class="recent-events" *ngIf="type === 'event' && childDetails && childDetails.length > 0">
      <ng-container *ngFor="let item of getRecentEvents()">
        <ion-card class="container-card">
          <ion-card-content class="container-content">
            <h3>{{ item.title }}</h3>
            <ng-container *ngIf="type === 'event'">
              <h4 *ngIf="convertToLocalDate(item)">{{ convertToLocalDate(item) }}</h4>
              <h4 *ngIf="convertToLocalTime(item)">{{convertToLocalTime(item)}}</h4>
            </ng-container>
            <hr>
    
            <h4>{{ item.description }}</h4>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  </ng-container>
</div>