<ion-header>
  <app-navigation></app-navigation>
</ion-header>


<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="heading">
    <app-icon-bar [icon]="'chatbubbles-outline'" [title]="'Connect'"></app-icon-bar>
    <ion-row class="fixed">
      <ion-col size="12">
        <ion-segment id="segment" class="segment" mode="md" (ionChange)="segmentChanged()" [(ngModel)]="segment">
          <ion-segment-button *ngFor="let val of segments" [value]="val.value">
            <ion-label>{{ val.name }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </div>
  <ion-slides #slides [options]="options" (ionSlideDidChange)="slideChanged()">
    <!-- <ion-slide (resized)="slides.update()">
      <ng-container>
        <app-social [data]="fbFeedData" [scrolling]="scrolling" [view]="view" [show]="showList" (fullscreen$)="initiateOrentation($event)"></app-social>
      </ng-container>
    </ion-slide> -->
    <ion-slide (resized)="slides.update()">
      <ng-container>
        <app-biblestudy [data]="bStudies"></app-biblestudy>
      </ng-container>
    </ion-slide>
  </ion-slides>
</ion-content>
