<ion-header>
  <app-navigation></app-navigation>
</ion-header>


<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="heading">
    <app-icon-bar [icon]="'chatbubbles-outline'" [title]="'Connect'"></app-icon-bar>
    <ion-row class="fixed">
      <ion-col size="12">
        <ion-segment id="segment" class="segment" mode="md" (ionChange)="segmentChanged()" [(ngModel)]="segment">
          <ion-segment-button *ngFor="let val of segments" [value]="val.value">
            <ion-label>{{ val.name }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </div>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <ng-container>
        <app-social [data]="fbFeedData" [scrolling]="scrolling" [view]="view"></app-social>
      </ng-container>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <app-biblestudy></app-biblestudy>
      </ng-container>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <app-contact></app-contact>
      </ng-container>
    </ion-slide>
  </ion-slides>
  <!-- <video width="320" height="240" controls>
    <source src="https://video-dfw5-2.xx.fbcdn.net/v/t42.9040-2/10000000_169484051004398_2075530602055991296_n.mp4?_nc_cat=104&_nc_sid=985c63&efg=eyJybHIiOjMwMCwicmxhIjozMjQwLCJ2ZW5jb2RlX3RhZyI6ImxlZ2FjeV9zZCJ9&_nc_ohc=cg_1gi5hlMgAX_PWULl&rl=300&vabr=129&_nc_ht=video-dfw5-2.xx&oh=78aeee24db44bffdca51e229b9e34d7b&oe=5EAB85C9" type="video/mp4">
  </video> -->
</ion-content>
