ion-input {
    margin: 0px 5%;
    border-bottom: 1px solid #3171e05c;
}

.segment {
    scroll-behavior: smooth;
}

ion-slide {
    width: 100% !important;
}

ion-badge {
    position: absolute;
    z-index: 9999;
    top: 0px;
    right: 0px;
}