<ion-header>
  <app-navigation></app-navigation>
</ion-header>
<ion-content>
  <ion-row>
    <div class="heading fixed">
      <app-icon-bar [icon]="'megaphone-outline'" [title]="'Announcements'"></app-icon-bar>
    </div>
  </ion-row>
  <ion-row class="empty-row animated fadeIn faster ion-align-self-center" *ngIf="!listUpdate && announcements && announcements.length === 0">
    <img [src]="getEmptyImage()" />
  </ion-row>
  <ion-row *ngFor="let item of announcements" style="margin-top:0% !important; padding: 10px;">

    <div class="ribbon-holder">
      <div *ngIf="item['isNew']" class="ribbon ribbon-holder"><P>NEW</P></div>
      <ion-img class="announcement-image" [src]="loadImage(item?.image?.url)"></ion-img>
    </div>
    </ion-row>
</ion-content>
