.forward-icon {
    color: #E02E2E !important;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

img {
    border-radius: 15px !important;
}

ion-input {
    margin: 0px 5%;
    border-bottom: 1px solid #3171e05c;
}

.segment {
    scroll-behavior: smooth;
}

ion-row.empty-row {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

    ion-icon {
        width: 100%;
        font-size: 3em;
        color: #9292928c;
    }

    p {
        text-align: center;
        padding-top: 5%;
        width: 100%;
    }
}