<ion-grid>
  <ion-row>
    <ion-col class="state">
      <div class="msg">
        <!-- <span [class.ON]="card.state=='ON'" [class.OFF]="card.state=='OFF'"></span>{{card.state}} -->
      </div>
    </ion-col>
    <ion-col class="logo">
      <img class="brand" [src]="cardImage">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="chip">
      <img [src]="retrieveImage(card.chip)">
    </ion-col>
  </ion-row>
  <ion-row class="digits">
    <ion-col class="number">
      {{cardArr && cardArr.length >= 1 ? cardArr[0] : ''}}
    </ion-col>
    <ion-col class="number">
      {{cardArr && cardArr.length >= 2 ? cardArr[1] : ''}}
    </ion-col>
    <ion-col class="number">
      {{cardArr && cardArr.length >= 3 ? cardArr[2] : ''}}
    </ion-col>
    <ion-col class="number">
      {{cardArr && cardArr.length >= 4 ? cardArr[3] : ''}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="date">
      Good Thru: <span class="date-value">{{cardExp}}</span>
    </ion-col>
    <!-- <ion-col class="bank">
      {{card.bank}}
    </ion-col> -->
  </ion-row>
</ion-grid>