<ion-app>
  <ion-content #content>
    <ion-menu contentId="main-content" type="overlay" class="main-bg-color">
      <ion-header>
        <ion-toolbar color="primary">
          <img src="../assets/faith_tab_logo_white.png" />
        </ion-toolbar>
      </ion-header>
      <ion-content #content class="menu">
        <ion-grid>
          <ion-row>
            <ion-col [size]="6" [class.selected]="selectedIndex == 0">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item text-center *ngIf="i === 0 && getMenuItemStatus('Announcements')" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                  <ion-label>
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
                <ion-item text-center *ngIf="i === 0 && !getMenuItemStatus('Announcements')" lines="none" detail="false">
                  <ion-label>
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-col>
            <ion-col [size]="6" [class.selected]="selectedIndex == 1">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item *ngIf="i === 1 && getMenuItemStatus('Events')" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                  <ion-label>
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="i === 1 && !getMenuItemStatus('Events')" lines="none" detail="false">
                  <ion-label class="disabled-label">
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [size]="6" [class.selected]="selectedIndex == 2">
              <ion-menu-toggle auto-hide="false" disable="true" *ngFor="let p of appPages; let i = index">
                <ion-item *ngIf="i === 2 && getMenuItemStatus('PrayerRequest')" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                  <ion-label>
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="i === 2 && !getMenuItemStatus('PrayerRequest')" lines="none" detail="false">
                  <ion-label class="disabled-label">
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-col>
            <ion-col [size]="6" [class.selected]="selectedIndex == 3">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item *ngIf="i === 3 && getMenuItemStatus('Ministries')" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                  <ion-label>
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="i === 3 && !getMenuItemStatus('Ministries')" lines="none" detail="false">
                  <ion-label class="disabled-label">
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-col>
          </ion-row>
          <ion-row>

            <ion-col [size]="6" [class.selected]="selectedIndex == 4">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item *ngIf="i === 4 && getMenuItemStatus('Connect')" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                  <ion-label>
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="i === 4 && !getMenuItemStatus('Connect')" lines="none" detail="false">
                  <ion-label class="disabled-label">
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-col>

            <ion-col [size]="6" [class.selected]="selectedIndex == 5"> 
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" (click)="giveSelected()">
                <ion-item *ngIf="i === 5 && getMenuItemStatus('Give')" lines="none" detail="false">
                  <ion-label>
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>

                <ion-item *ngIf="i === 5 && !getMenuItemStatus('Give')" lines="none" detail="false">
                  <ion-label class="disabled-label">
                    <ion-row><ion-icon [name]="p.icon + '-outline'"></ion-icon></ion-row>
                    <ion-row><span>{{ p.title }}</span></ion-row>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-col>
          </ion-row>
          <ion-row style="padding: 0px">
            <ion-col>
              <ion-footer class="ion-no-border">
                <ion-toolbar>
                  <ion-button size="small" fill="outline" color="danger" style="width: 95%" (click)="navigateToFeedback()">
                    Feedback
                    <ion-icon slot="end" name="mail-outline"></ion-icon>
                  </ion-button>
                </ion-toolbar>
              </ion-footer>
            </ion-col>
            <ion-col>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">
    </ion-router-outlet>
  </ion-content>
  <!-- <div *ngIf="showAudio">
  </div> -->
  <app-audio-player class="audioPlayer" [showAudio]="showAudio" [isMinimized]="isMinimized" [isForward]="isForward" [isBack]="isBack" [sermon]="currentPlaying" (back$)="backPressed($event)" (next$)="nextPressed($event)" (closed$)="audioClosed($event)" (minimized$)="audioMinimized($event)"></app-audio-player>

</ion-app>
<app-loader></app-loader>
