<ion-header>
  <app-navigation></app-navigation>
</ion-header>

<ion-content>
  <div class="heading fixed">
    <app-icon-bar [icon]="'people-outline'" [title]="'Ministries'"></app-icon-bar>
  </div>
  <ion-slides pager="true" [options]="slideOpts" style="height: 100%">
    <ion-slide *ngFor="let item of ministryContent.ministrySection">
      <div class="ministry-container">
        <div class="image-container" [style.background]="'url('+ loadImage(item) +')'">
          <div class="mask">
            <h4>{{ item?.title }}</h4>
            <span class="span-padding" [innerHtml]="item?.description"></span>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
