<ion-header>
  <app-navigation></app-navigation>
</ion-header>

<ion-content>
  <div class="heading fixed">
    <app-icon-bar [icon]="'people-outline'" [title]="'Ministries'"></app-icon-bar>
  </div>
  <ion-slides pager="true" [options]="slideOpts" style="height: 100%">
    <ion-slide>
      <div class="ministry-container">
        <div class="youth-container">
          <div class="mask">
            <h4>Faith Youth</h4>
            <p>Youth class starts every Sunday at 10:00 am. Every Friday night, there is a youth event for students ages 12-17.</p>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ministry-container">
        <div class="kids-container">
          <div class="mask">
            <h4>Faith Kids</h4>
            <p>Kid classes start every Sunday at 10:00 a.m. This is a specially tailored classroom and lesson just for them! Every Wednesday, there is a class for kids ages 3-10 after worship.</p>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ministry-container">
        <div class="ladies-container">
          <div class="mask">
            <h4>Ladies</h4>
            <p>It is important to get to know and receive encouragement from other women who love God. Ladies socials and studies are offered on Faith Fellowship nights.</p>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ministry-container">
        <div class="mens-container">
          <div class="mask">
            <h4>Mens</h4>
            <p>Relax and spend time having fun with other christ-centered men.
            Mens socials and studies are offered on Faith Fellowship nights.</p>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ministry-container">
        <div class="marrieds-container">
          <div class="mask">
            <h4>Marrieds</h4>
            <p>Strong marriages that are connected to God are important.
              Married socials and studies are offered on Faith Fellowship nights.
              If you and your partner are interested in marital or premarital counseling,
              please contact pastor for a session.</p>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ministry-container">
        <div class="bible-container">
          <div class="mask">
            <h4>Bible Study</h4>
            <p>As fellow learners, we want to join you in delving into the Word.
              We offer free Bible studies that are tailored to you and your spiritual journey. Ask anyone on our ministry team to help you schedule a Bible study.</p>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
