.ministry-container {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    overflow-y: hidden;
}

.mask {
    background-color: rgba(96,125,139,.7);
    height: 100%;
    overflow-y: hidden;
}

.image-container {
    height: 100vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow-y: hidden;
}

h4 {
    color: white !important;
    padding-top: 45%;
    font-size: 2em !important;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif !important;
}

.ministry-p {
    padding: 10px 10px !important;
    font-size: 1em !important;
    color: white !important;
}