ion-card.top {
    margin-top: 5% !important;
}



ion-card ion-row {
    padding: 5px 12px !important;
}

ion-select {
    padding-left: 0px !important;
}

ion-fab-button ion-icon {
    color: white !important;
}

.offering-details-heading h5 {
    margin-bottom: 0px !important;
}

p {
    color: lightgray;
}

p.total {
    color: white !important;
    font-size: 14px !important;
    margin-left: 5em;
    line-height: 35px;
}

ion-footer {
    background-color: #516065;
}