ion-card.top {
    margin-top: 5% !important;
}

ion-card.detail-card {
    padding: 1em 2em !important;
    background-color: #fbfbfb;
    margin: 1em 1em !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 16px;

    p {
        color: black !important;
        font-size: 12px !important;
    }
}

ion-card.active-detail-card {
    padding: 1em 0.5em !important;
    background-color: #fbfbfb;
    margin: 1em 1em !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 16px;

    p {
        color: black !important;
        font-size: 10px !important;
        padding-bottom: 0.1em !important;
    }

    p.heading-p {
        font-size: 12px !important;
        padding-bottom: 0.3em !important;
    }

    .dot {
        height: 8px;
        width: 8px;
        background-color: lightgrey;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 4px;
        margin: 0px 2px;
    }

    .number {
        color: lightgrey;
        font-size: 0.7em;
        line-height: 2em;
        text-align: center;
        font-family: "credit-regular", Arial, Helvetica, sans-serif;
    }

    .black-font {
        color: black;
    }
}

ion-label {
    font-size: 12px !important;
}

ion-card ion-row {
    padding: 5px 12px !important;
}

ion-select {
    padding-left: 0px !important;
    font-size: 12px !important;
}

ion-fab-button ion-icon {
    color: white !important;
}

.offering-details-heading h5 {
    margin-bottom: 0px !important;
}

h5 {
    font-size: 15px !important;
}

h5.card-title {
    margin-bottom: 0px !important;
}

p {
    color: lightgray;
}

p.total {
    color: white !important;
    font-size: 12px !important;
    margin-left: 5em;
}

ion-footer {
    background-color: #516065;
}

ion-button {
    font-size: 10px;
}

span.error {
    padding: 2px;
    color: red !important;
}