<ion-header>
  <app-navigation></app-navigation>
</ion-header>

<ion-content>
  <div class="heading fixed">
    <app-icon-bar [icon]="'heart-outline'" [title]="'Give'"></app-icon-bar>
  </div>
  <ion-card class="top fixed animated fadeIn faster">

    <ng-container>
      <div [formGroup]="giveForm" @fade>
        <ion-row>
          <ion-col>
            <ion-card *ngIf="!showActiveDetails" class="detail-card" (click)="addPaymentDetails()">
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-fab-button size="small" color="danger"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
              </ion-row>

              <ion-row class="ion-justify-content-center ion-align-items-center">
                <p>Add Information</p>
              </ion-row>
            </ion-card>

            <ion-card *ngIf="showActiveDetails" class="active-detail-card" (click)="addPaymentDetails()">
              <ion-row>
                <ion-col>
                  <p class="heading-p">{{ giveControls?.firstName?.value }} {{ giveControls?.lastName?.value }}</p>
                  <p>{{ giveControls?.email?.value }}</p>
                  <p>{{ giveControls?.phone?.value }}</p>
                </ion-col>
              </ion-row>

              <ion-row class="digits ion-align-items-center">
                <ion-col class="">
                  <span *ngIf="cardControls?.card?.value?.split(' ').length >= 1">
                    <span *ngFor="let item of renderDot(cardControls?.card?.value?.split(' ')[0])" class="dot"></span>
                  </span>
                </ion-col>
                <ion-col class="">
                  <span *ngIf="cardControls?.card?.value?.split(' ').length >= 2">
                    <span *ngFor="let item of renderDot(cardControls?.card?.value?.split(' ')[1])" class="dot"></span>
                  </span>
                </ion-col>
                <ion-col class="">
                  <span *ngIf="cardControls?.card?.value?.split(' ').length >= 3">
                    <span *ngFor="let item of renderDot(cardControls?.card?.value?.split(' ')[2])" class="dot"></span>
                  </span>
                </ion-col>
                <ion-col class="number">
                  {{cardControls?.card?.value?.split(' ').length >= 4 ? cardControls?.card?.value?.split(' ')[3] : ''}}
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <p>Good Thru: <span class="number">{{ cardControls?.expiration?.value }}</span></p>
                </ion-col>
                <ion-col size="4">
                  <p><em>Tap to Edit</em></p>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
    
        <ion-row class="mt-2">
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item mode="md">
                <ion-label class="required-field" position="floating">Tithe</ion-label>
                <app-currency-input [precision]="2" [amount]="''" [control]="'tithe'" [formGroup]="giveForm"></app-currency-input>
              </ion-item>
              <span class="error" style="font-size: 10px;margin: 2px !important;" *ngIf="giveForm.errors && giveForm.errors.oneRequired && formSubmitted">Tithe or Offering must be provided</span>
            </ion-list>
          </ion-col>
        </ion-row>
    
        <ion-row class="mt-2 offering-details-heading">
          <ion-col size="12">
            <p><em>Add a new offering</em></p>
            <span class="error" style="font-size: 10px;" *ngIf="giveForm.errors && giveForm.errors.oneRequired && formSubmitted">Tithe or Offering must be provided</span>
          </ion-col>
        </ion-row> 
    
        <ion-card formArrayName="offeringArray" *ngFor="let form of offeringArray.controls; let i = index" @fade>
          <ng-container [formGroupName]="i">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item mode="md">
                    <ion-label class="required-field" position="floating">Offering</ion-label>
                    <app-currency-input [precision]="2" [amount]="''" [control]="'offering'" [formGroup]="form"></app-currency-input>
                  </ion-item>
                  <span class="error" style="font-size: 10px;" *ngIf="form.errors && form.errors.offeringRequired && formSubmitted">Offering amount required</span>
                </ion-list>
              </ion-col>
      
            <ion-col>
              <ion-list>
                <ion-item mode="md">
                  <ion-label class="required-field" position="floating">Category</ion-label>
                  <ion-select (ionChange)="onChange($event.target)" formControlName="offeringCategory" [mode]="retrieveMode()" okText="Confirm" cancelText="Cancel">
                    <ion-select-option *ngFor="let offering of offeringCategories" [value]="offering.value" [disabled]="offering.disabled">{{ offering.label }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <span class="error" style="font-size: 10px;" *ngIf="form.errors && form.errors.categoryRequired && formSubmitted">A category must be selected</span>
              </ion-list>
            </ion-col>
          </ion-row>
  
          <ion-row *ngIf="isOtherSelected(form)">
            <ion-col>
              <ion-list>
                <ion-item mode="md">
                  <ion-label class="required-field" position="floating">Other Category</ion-label>
                  <ion-input type="text" inputmode="text" maxlength="255" autocapitalize="on" class="form-control" formControlName="otherOffering" ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          </ng-container>
        </ion-card>

        <ion-row>
          <ion-col size="2">
            <ion-fab-button (click)="addToArray()" size="small" color="danger"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
          </ion-col>
          <ion-col size="2" *ngIf="offeringArray.length != 0">
            <ion-fab-button (click)="popFromArray()" size="small" color="danger"><ion-icon name="remove-outline"></ion-icon></ion-fab-button>
          </ion-col>
        </ion-row>
      </div>

      <!-- <div *ngSwitchCase="1" @fade>
        <div [formGroup]="cardForm">
          <ion-row class="mt-2 card-title">
            <ion-col size="12">
              <h5 style="margin-bottom: 0px !important">Payment Information</h5>
              <p>Mastercard or 14 digit card not accepted</p>
            </ion-col>
          </ion-row>
          <ion-row class="mt-2">
            <app-credit-card [cardInfo]="cardForm?.value"></app-credit-card>
          </ion-row>
  
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item mode="md">
                  <ion-label class="required-field" position="floating">Card Number</ion-label>
                  <ion-input (ionInput)="mask($event)" type="text" inputmode="text" maxlength="19" autocapitalize="on" class="form-control" formControlName="card"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item mode="md">
                  <ion-label class="required-field" position="floating">Expiration Date</ion-label>
                  <ion-input (ionInput)="maskExp($event)" type="text" inputmode="numeric" maxlength="5" autocapitalize="on" class="form-control" formControlName="expiration" ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item mode="md">
                  <ion-label class="required-field" position="floating">CVV</ion-label>
                  <ion-input (ionInput)="maskCvv($event)" type="text" inputmode="numeric" maxlength="3" autocapitalize="on" class="form-control" formControlName="cvv" ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>

        <ion-row (click)="isFeeCovered = !isFeeCovered" style="padding-bottom: 20px !important" class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-checkbox [(ngModel)]="isFeeCovered" color="primary"></ion-checkbox>
          </ion-col>

          <ion-col size="9">
            <div >
              <ion-label>Cover payment proccessing fee?</ion-label>
              <p><em>Total + (2.20% + $0.30)</em></p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row (click)="isRememberChecked = !isRememberChecked" style="padding-bottom: 20px !important" class="ion-align-items-center ion-justify-content-center">
          <ion-col>
            <ion-checkbox [(ngModel)]="isRememberChecked" color="primary"></ion-checkbox>
          </ion-col>

          <ion-col size="9">
            <div >
              <ion-label>Remember for future use?</ion-label>
            </div>
          </ion-col>
        </ion-row>
        
      </div> -->
    </ng-container>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="main-bg-color">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-padding-start">
        <p class="total">Total: {{ grandTotal | currency }}</p>
      </ion-col>
      <ng-container [ngSwitch]="activeFormIndex">
        <div *ngSwitchCase="0">
          <ion-col>
            <ion-button (click)="submitTransaction()" size="small" color="secondary" fill="outline">
              <ion-icon slot="start" name="card-outline"></ion-icon>
              Submit Payment
            </ion-button>
          </ion-col>
        </div>
      </ng-container>
     
      
    </ion-row>
  </ion-toolbar>
</ion-footer>
