ion-card.top {
    margin-top: 5% !important;
}

ion-label {
    font-size: 12px !important;
}

ion-card ion-row {
    padding: 5px 12px !important;
}

ion-select {
    padding-left: 0px !important;
    font-size: 12px !important;
}

ion-fab-button ion-icon {
    color: white !important;
}

.offering-details-heading h5 {
    margin-bottom: 0px !important;
}

h5 {
    font-size: 15px !important;
}

h5.card-title {
    margin-bottom: 0px !important;
}

p {
    color: lightgray;
}

p.total {
    color: white !important;
    font-size: 12px !important;
    margin-left: 5em;
}

ion-footer {
    background-color: #516065;
}

ion-button {
    font-size: 10px;
}