<div *ngIf="details" class="col-md-12" class="animated fadeIn faster">
  <ion-row>
    <img [defaultImage]="placeHolderImg" [lazyLoad]="getImage(details.image.url)" />
  </ion-row>

  <ng-container>
    <ion-row>
      <div class="upcoming-container">
        <h3>Upcoming</h3>
        <span class="half-border"></span>
      </div>
    </ion-row>
  
    <ion-row *ngIf="childDetails && childDetails.length > 0">
      <ng-container *ngFor="let item of getUpcomingEvents()">
        <ion-card class="container-card">
          <ion-card-content class="container-content">
            <h3>{{ item.title }}</h3>
            <ng-container>
              <h4 *ngIf="convertToLocalDate(item)">{{ convertToLocalDate(item) }}</h4>
              <h4 *ngIf="convertToLocalTime(item)">{{ convertToLocalTime(item) }}</h4>
            </ng-container>
            <hr>
    
            <h4>{{ item.description }}</h4>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  
    <ion-row>
      <div class="upcoming-container">
        <h3>Recent</h3>
        <span class="half-border"></span>
      </div>
    </ion-row>
  
    <ion-row class="recent-events" *ngIf="childDetails && childDetails.length > 0">
      <ng-container *ngFor="let item of getRecentEvents()">
        <ion-card class="container-card">
          <ion-card-content class="container-content">
            <h3>{{ item.title }}</h3>
            <ng-container>
              <h4 *ngIf="convertToLocalDate(item)">{{ convertToLocalDate(item) }}</h4>
              <h4 *ngIf="convertToLocalTime(item)">{{ convertToLocalTime(item) }}</h4>
            </ng-container>
            <hr>
    
            <h4>{{ item.description }}</h4>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  </ng-container>
</div>