<div *ngIf="details" class="col-md-12" class="animated fadeIn faster">
  <ion-row>
    <img [defaultImage]="placeHolderImg" [lazyLoad]="getImage(details.image.url)" />
  </ion-row>

  <ng-container>
    <ion-row>
      <div class="upcoming-container">
        <h3>Description</h3>
        <span class="half-border"></span>
      </div>
      <h3 class="description">{{details.description}}</h3>
    </ion-row>
  </ng-container>

  <ng-container>
    <ion-row *ngIf="getUpcomingEvents().length > 0">
      <div class="upcoming-container">
        <h3>Upcoming</h3>
        <span class="half-border"></span>
      </div>
    </ion-row>
  
    <ion-row *ngIf="getUpcomingEvents().length > 0">
      <ng-container *ngFor="let item of getUpcomingEvents()">
        <ion-card class="container-card">
          <ion-card-content class="container-content">
            <div style="text-align: center;">
              <h2 *ngIf="convertToLocalDate(item.date)"><strong>{{ convertToLocalDate(item.date) }}</strong></h2>
              <ng-container *ngFor="let e of item.occuranceEvents">
                <h4>{{ e.title }} <span *ngIf="convertToLocalTime(e.time)">{{ convertToLocalTime(e.time) }}</span></h4>
              </ng-container>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  
    <ion-row *ngIf="getRecentEvents().length > 0">
      <div class="upcoming-container">
        <h3>Recent</h3>
        <span class="half-border"></span>
      </div>
    </ion-row>
  
    <ion-row class="recent-events" *ngIf="childDetails && childDetails.length > 0 && getRecentEvents().length > 0">
      <ng-container *ngFor="let item of getRecentEvents()">
        <ion-card class="container-card recent-event-card">
          <ion-card-content class="container-content">
            <div style="text-align: center;">
              <h2 *ngIf="convertToLocalDate(item.date)"><strong>{{ convertToLocalDate(item.date) }}</strong></h2>
              <ng-container *ngFor="let e of item.occuranceEvents">
                <h4>{{ e.title }} <span *ngIf="convertToLocalTime(e.time)">{{ convertToLocalTime(e.time) }}</span></h4>
              </ng-container>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-row>
  </ng-container>
</div>