<div class="sermon-container">
    <div class="filter-container">
        <ion-row>
            <ion-searchbar #search placeholder="Search by title" debounce="500" [(ngModel)]="searchText" (ionInput)="searchFilter(search.value)" (ionClear)="clearSearch($event)"></ion-searchbar>
        </ion-row>
        <ion-row class="filter-btn-container">
            <ion-col [size]="3">
                <ion-button fill="outline" (click)="clearFilters()">
                    <ion-icon slot="start" name="close-outline"></ion-icon>
                    Reset 
                </ion-button>
            </ion-col>

            <ion-col [size]="3">
                <ion-badge *ngIf="selectedFilters.selectedPreachers.length !== 0" color="danger">{{ selectedFilters.selectedPreachers.length }}</ion-badge>
                <ion-button (click)="selectPreacher()">
                    Preachers
                    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                </ion-button>
            </ion-col>

            <ion-col [size]="3">
                <ion-badge *ngIf="selectedFilters.selectedCategories.length !== 0" color="danger">{{ selectedFilters.selectedCategories.length }}</ion-badge>
                <ion-button (click)="selectCategory()">
                    Categories
                    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                </ion-button>
            </ion-col>

            <ion-col class="date-button" [size]="3">
                <ion-button>
                    <ion-datetime #datePicker placeholder="Date" displayFormat="MMM YYYY" dayValues="selectedDays" [(ngModel)]="selectedDate" (ionChange)="datePickerSelected($event)" [max]="dateFilter.max" [min]="dateFilter.min"></ion-datetime>
                    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
    <ng-container>
        <div [@listAnimation]="sermons && sermons.length">
            <ng-container *ngFor="let item of sermons">
                <ion-row *ngIf="item.active">
                    <ion-card>
                        <ion-card-content>
                            <ion-row class="ion-align-items-center">
                                <ion-col [size]="2">
                                    <ion-button *ngIf="!checkForPlayer(item)" (click)="playAudio(item)">
                                        <ion-icon slot="icon-only" name="play-outline"></ion-icon>
                                    </ion-button>
        
                                    <ion-button *ngIf="checkForPlayer(item)" (click)="stopAudio()">
                                        <ion-icon slot="icon-only" name="stop-outline"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col [size]="8">
                                    <ion-row>
                                        <h3 style="text-align: start;" class="ion-text-nowrap">{{ item.title }}</h3>
                                    </ion-row>
                                    <ion-row>
                                        <p>{{ item.preacher.Name }} - {{ convertToLocalDate(item) }}</p>
                                    </ion-row>
                                    <ion-row>
                                        <p><ion-icon name="pricetag-outline"></ion-icon> <span *ngFor="let tag of item.study_tags">
                                            {{ tag.name }}
                                        </span> </p>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-row>
            </ng-container>
        </div>
        <div class="empty-row animated fadeIn faster ion-align-self-center" *ngIf="sermons && sermons.length === 0">
            <img [src]="getEmptyImage()" />
        </div>
    </ng-container>
</div>
