.sermon-container {
    width: 100% !important;
}

ion-card {
    width: 100%;

    ion-button {
        --border-radius: 20px !important;
        width: 40px !important;
        height: 40px !important;
        font-size: 10px !important;
    }
}

div.filter-container {
    background-color: #f3f3f3;
    ion-col {
        padding: 0px 3px !important;
    }

    .filter-btn-container {
        margin: 0px 10px !important;
        padding-bottom: 5px;
    }

    ion-button {
        width: 100%;
        text-transform: none !important;
        font-size: 7.5px !important;
        margin: 0 !important;
    }
}

ion-searchbar {
    --background: white !important;
}

h3 {
    font-size: 12px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    font-size: 10px !important;
}

ion-badge {
    font-size: 8px;
    border-radius: 20px;
    position: absolute;
    right: 0px;
    z-index: 9999;
}
.date-button ion-button {
    ion-icon {
        position: relative;
        right: 10px;
    }
}

ion-datetime {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 11px !important;
    width: 100%;
    --placeholder-color: white !important;
}