<div class="sermon-container">
    <div class="filter-container">
        <ion-row>
            <ion-searchbar #searchBar placeholder="Search by title" debounce="500" (ionInput)="searchFilter(searchBar.value)" (ionClear)="clearSearch($event)"></ion-searchbar>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col [size]="4">
                <!--Month;Year-->
                <ion-button size="small">
                    <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col [size]="4">
                <!--Preacher-->
                <ion-button size="small">
                    <ion-icon slot="icon-only" name="person-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col [size]="4">
                <!--Type-->
                <ion-button size="small">
                    <ion-icon slot="icon-only" name="pricetag-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
    <ng-container>
        <ion-row *ngFor="let item of sermons">
            <ion-card>
                <ion-card-content>
                    <ion-row class="ion-align-items-center">
                        <ion-col [size]="2">
                            <ion-button *ngIf="!checkForPlayer(item)" (click)="playAudio(item)">
                                <ion-icon slot="icon-only" name="play-outline"></ion-icon>
                            </ion-button>

                            <ion-button *ngIf="checkForPlayer(item)" (click)="stopAudio()">
                                <ion-icon slot="icon-only" name="stop-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col [size]="8">
                            <ion-row>
                                <h3 style="text-align: start;" class="ion-text-nowrap">{{ item.title }}</h3>
                            </ion-row>
                            <ion-row>
                                <p>{{ item.preacher }} - {{ convertToLocalDate(item) }}</p>
                            </ion-row>
                            <ion-row>
                                <p><ion-icon name="pricetag-outline"></ion-icon> <span *ngFor="let tag of item.study_tags">
                                    {{ tag.name }}
                                </span> </p>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ng-container>
</div>