.biblestudy-container {
    width: 100% !important;
}

img {
    border-radius: 15px !important;
    width: 85%;
    height: 20%;
    margin: auto;
}

ion-card {
    text-align: left !important;
    width: 100% !important;
    position: relative;
    bottom: 3vh !important;
}

ion-card-content {
    padding: 8% 3% !important;
}

ion-fab {
    width: 80% !important;
}

ion-fab-button {
    width: 45px !important;
    height: 45px !important;
    float: right !important;
}