<ng-container *ngIf="showAudio">
  <ion-footer #audioPlayer class="ion-no-border audio-player">
    <ion-toolbar color="primary">
      <div class="title">
        <h5>{{ sermon.title }}</h5>
      </div>
      <div class="subtitle">
        <p>{{ sermon.preacher }}</p>
      </div>
      <ion-row>
        <ion-col>
          <ion-button color="light" fill="clear" (click)="previousAudio()" [disabled]="isBack">
            <ion-icon slot="icon-only" name="play-skip-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button *ngIf="!audioPlaying" color="light" fill="clear" (click)="playAudio()" [disabled]="isSeeking">
            <ion-icon slot="icon-only" name="play-outline"></ion-icon>
          </ion-button>
          <ion-button *ngIf="audioPlaying" color="light" fill="clear" (click)="pauseAudio()" [disabled]="isSeeking">
            <ion-icon slot="icon-only" name="pause-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" fill="clear" (click)="nextAudio()" [disabled]="isForward">
            <ion-icon slot="icon-only" name="play-skip-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-range #range [(ngModel)]="progress" max="100" color="secondary" mode="md" pin="false"
            (touchend)="seek()" (mouseup)="seek()" (touchstart)="pauseForDrag()" (mousedown)="pauseForDrag()"></ion-range>
          </ion-row>
          <div class="left-duration">
            <p><strong>{{ audioStartProgress }}</strong></p>
          </div>
          <div class="right-duration">
            <p><strong>{{ audioDuration }}</strong></p>
          </div>
        </ion-col>
      </ion-row>
      <div class="container-buttons">
        <ion-button class="remove-button" color="light" fill="clear" (click)="minimizePlayer()">
          <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
        </ion-button>
        <ion-button class="close-button" color="light" fill="clear" (click)="closePlayer()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>