video {
    border-radius: 0px !important;
    width: 100%;
    margin: auto;
}

div.bar {
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: #0000007a;
    

    ion-button {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 13px !important;
    }

    ion-range {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

/*
    full screen styles
*/

div.controller {
    z-index: 2147483647;
}
div.android video::-webkit-media-controls {
    display:none !important;
}
div.android video::-webkit-media-controls-enclosure {
    display:none !important;
}

div.ios video::-webkit-media-controls {
    display: block !important;
}
div.ios video::-webkit-media-controls-enclosure {
    display: block !important;
}