ion-toolbar {
    --background: transparent;
}

ion-button {
    --box-shadow: none !important;
    position: absolute;
    z-index: 9999;
}

  .scroll-content {
    padding-top: 0px !important;
  }

ion-header {
    position: absolute !important;
}

.exit-container {
  width: 100%;
  height: 5%;
  position: absolute;
  color: grey;
  z-index: 9999;
  background-color: rgba(97, 97, 97, 0.5);
}

ion-button {
    --background: transparent !important;
}