<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375163325785-jq2hlc54kjcm81bidcm3g0sqt7mnpout.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375163325785-jq2hlc54kjcm81bidcm3g0sqt7mnpout</string>
	<key>API_KEY</key>
	<string>AIzaSyDD_XuGV5fxRAoDomhJRXoqKqygI0SXz5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>375163325785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atkison.faith-mobile</string>
	<key>PROJECT_ID</key>
	<string>faithtabernacle-985a0</string>
	<key>STORAGE_BUCKET</key>
	<string>faithtabernacle-985a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375163325785:ios:6f31fee6ae9246b633d048</string>
	<key>DATABASE_URL</key>
	<string>https://faithtabernacle-985a0.firebaseio.com</string>
</dict>
</plist>